@import './base.scss';

@font-face {
  font-family: UKIJRu;
  src: local('/fonts/UKIJRu.ttf');
  src: url('/fonts/UKIJRu.ttf');
}
@font-face {
  font-family: UKIJMoyQ;
  src: local('/fonts/UKIJMoyQ.ttf');
  src: url('/fonts/UKIJMoyQ.ttf');
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  min-height: 100vh;
}

.menu {
  background-color: var(--color-background-soft);
}
