@import "./base.scss";
@import "./mediaQueries.scss";
@import "./projects.scss";

@font-face {
  font-family: UKIJRu;
  src: local("/fonts/UKIJRu.ttf");
  src: url("/fonts/UKIJRu.ttf");
}

@font-face {
  font-family: unifont;
  src: local("/fonts/unifont.otf");
  src: url("/fonts/unifont.otf");
}

section {
  display: flex;
  align-items: center;
  height: max-content;
}

.menu {
  background-color: var(--grey);
  width: 75vw;
  min-height: 50vh;
  padding: 2em 0 2em 0;
  flex-direction: column;
  border-radius: 5em;
  z-index: 10;
  h1 {
    font-family: UKIJRu;
    font-size: 5em;
  }
  h2 {
    font-family: unifont;
    font-size: 4em;
  }
  span {
    height: 10px;
    background: #3f454d;
    width: 75%;
    margin: 2em 0 2em 0;
    border-radius: 2em;
  }
  a {
    width: 25%;
    position: relative;
    top: 10%;
    margin-top: 1em;

    button {
      background-color: var(--grey-light);
      box-shadow:
        0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border: none;
      width: 100%;
      padding: 1em;
      border-radius: 1em;
      color: var(--primary-text);
      font-size: 1.25em;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.justify-end {
  display: flex;
  justify-content: end;
}
.main {
  min-height: 100vh;
}

.fullPage {
  min-height: 100vh;
}
.three-4page {
  min-height: 75vh;
}

.cover {
  h1 {
    margin-bottom: 2em;
    text-decoration: underline;
    font-size: 2em;
  }
  width: 100%;
  z-index: 10;
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em 0 4em 0;
  padding: 4em 0 4em 0;
}

.presentation {
  &.margin-auto {
    margin: 0 25% 0 25%;
  }
  &.center {
    flex-direction: column;
  }
}

.realisations {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5em;
    width: 60%;
  }
}

.experience {
  .img {
    width: 10em;
    img {
      width: 100%;
    }
  }
}

.savoirfaire {
  h3 {
    color: #4bd0d0;
  }
  p {
    padding-bottom: 1em;
    text-align: center;
  }
}

.footer {
  position: relative;
  padding: 1em 0 1em 0 !important;
  background-color: var(--grey);
  text-align: center;
  display: flex;
  justify-content: space-around;
  div {
    width: 100%;
    p {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.socialsLinks {
  a {
    margin: 0 1em 1em 0;
    img {
      width: 2em;
    }
  }
}

.card {
  width: 100%;
  box-shadow: 0.25em 0.25em 0.25em 0.25em gray;
  border-radius: 1em;
  figure {
    a {
      text-decoration: none;
      display: block;
      width: 100%;
      height: max-content;
      img {
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        width: 100%;
        height: 85%;
      }
    }
    figcaption {
      display: flex;
      justify-content: center;
      text-align: center;
      color: var(--primary-text);
      img {
        width: 50% !important;
      }
    }
  }
}
