@import "./base.scss";
@import "./mediaQueries.scss";

@font-face {
  font-family: UKIJRu;
  src: local("/fonts/UKIJRu.ttf");
  src: url("/fonts/UKIJRu.ttf");
}

@font-face {
  font-family: unifont;
  src: local("/fonts/unifont.otf");
  src: url("/fonts/unifont.otf");
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.justify-end {
  display: flex;
  justify-content: end;
}
.main {
  min-height: 100vh;
}

.fullPage {
  min-height: 100vh;
}
.three-4page {
  min-height: 75vh;
}

.cover {
  h1 {
    margin-bottom: 2em;
    text-decoration: underline;
    font-size: 2em;
  }
  width: 100%;
  z-index: 10;
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em 0 4em 0;
  padding: 4em 0 4em 0;
}
.footer {
  position: relative;
  padding: 1em 0 1em 0 !important;
  background-color: var(--grey);
  text-align: center;
  display: flex;
  justify-content: space-around;
}

#gameBoard {
  position: fixed;
  width: 100vw;
  height: 100vh;
  tr {
    td.isAlive {
      background-color: #b9bec6 !important;
    }
  }
}
