#buttonsGroup {
    position: absolute;
    top: 0;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
    input {
      width: 25%;
      background-color: var(--grey-black);
      color: #b9bec6;
    }
    button {
      background: transparent;
      border: none;
      cursor: pointer;
      img {
        width: 25px;
        height: 25px;
      }
    }
  }
  
  #gameBoard {
    position: fixed;
    width: 100vw;
    height: 100vh;
    tr {
      td {
        span {
          display: block;
        }
      }
      td.isAlive {
        background-color: #b9bec6 !important;
      }
    }
  }
  
  #langtonBoard {
    position: fixed;
    width: 100vw;
    height: 100vh;
    tr {
      td.black {
        background-color: var(--grey-black) !important;
      }
      td.white {
        background-color: #b9bec6 !important;
      }
      td.fourmi {
        background-color: rgb(30, 255, 0) !important;
        background-image: url("../../public/img/realisations/fourmi.png") !important;
        background-size: 15px;
        background-position: center;
        transform: rotate(0turn);
      }
    }
  }